<mat-tab-group style="height: 90%;">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      Individual Gamification
    </ng-template>
    <ng-template matTabContent>
      <app-individualgamification></app-individualgamification>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">groups</mat-icon>
      Team Gamification
    </ng-template>
    <ng-template matTabContent>
      <app-teamgamification></app-teamgamification>
    </ng-template>
  </mat-tab>
</mat-tab-group>
