<body>
  <div id="g_id_onload"
       data-client_id="122702758739-i03amus3knpj1g42q5aa372s03u0f8uu.apps.googleusercontent.com"
       data-context="signin"
       data-ux_mode="popup"
       data-callback="handleOauthResponse"
       data-auto_prompt="false">
  </div>

  <div class="g_id_signin"
       data-type="standard"
       data-shape="rectangular"
       data-theme="filled_blue"
       data-text="signin_with"
       data-size="large"
       data-locale="en-US"
       data-logo_alignment="left">
  </div>
</body>
